.vscode/**
.vscode-test/**
out/test/**
src/**
test/**
tests/**
.github/**
.gitignore
.yarnrc
.eslintrc.json
.prettierrc
**/*.map
**/*.ts
!out/**
!src/types/**
node_modules/**
!node_modules/tree-kill/**
coverage/**
artifacts/**
logs/**
cache/**
webpack.config.js
tsconfig.json
